h2{
  color: #98b33b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: cursive;
}
.addFormButtons {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.manage-food-table {
  padding: 30px 20px;
}

.manage-food-table .clock {
  display: none;
  position: fixed;
  right: 28px;
  bottom: 50px;
  background-color: #ecdcd6;
  padding: 6px 18px;
  border-radius: 19px 36px;
  border-bottom: 3px solid #a44a2a;
  z-index: 10;
}
img{
  width: 40px;
  height: 40px;
}
.table-header {
  background-color: #95A5A6;
  font-size: 14px;
  text-transform: uppercase;

}

.table-row {
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
}
.col{
  width: 120px;
}

.table{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.table-body{
  margin-left: auto;
  margin-right: auto;
}
span{
  padding-left: 15px;
}


.add-button{
  display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    margin-left: 1100px;

  border: 1px solid #d5e0ae;
  background: #98b33b;
  color: white;
  padding: 10px 15px;
  border-bottom-width: 2px;
  font-size: 13px;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.1s ease-in-out;
}

  