.websiteHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    position: sticky;
    z-index: 1;
    top: 0;
    background: #fff;
    
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  }
  
  .websiteHeader>.left {
    display: flex;
    align-items: center;
  }
  
  .websiteHeader>.left>h1 {
    font-size: 18px;
    color: #28848e;
    line-height: 1.2;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin: 0;
    margin-right: 20px;
  }
  
  
  .websiteHeader>.left>h1>img {
    height: 35px;
    width: auto;
    margin-right: 5px;
  }
  
  .websiteHeader .right {
    display: flex;
    column-gap: 20px;
    align-items: center;
  }

  
  .websiteHeader .right nav {
    display: flex;
  }
  .websiteHeader .right nav a {
    background: unset;
    border: unset;
    cursor: pointer;
    font-size: 14px;
    padding: 9px 20px;
    text-decoration: none;
    color: inherit;
  }
  
  .websiteHeader .right nav a:hover {
    text-shadow: -1px 2px 3px #777777;
  }
  
  .websiteHeader .right nav a:active {
    text-shadow: -1px 2px 3px #333;
  }
  
  .websiteHeader .right nav a.current {
    background-color: #be441d;
    border-radius: 5px;
    color: white;
  }